@tailwind base;
@tailwind components;
@tailwind utilities;
.sidebar {
  background-color: #112267;
  color: #f7f7f7;
}
.chat-page-bg {
  background: #40466d;
  color: #f7f7f7;
}
.text-size {
  font-size: 14.5px;
}
/* Hide scrollbar while allowing scrolling */
/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
